.inputserarch {
    border:0px;
    width: 400px;
    height: 36.6px;
    line-height: 36.6px;
    background-color: #f4f4f4;
    margin-left: 5px;
}
.search {
    width: 500px;
    height: 38.6px;
    border: 1px #28a745 solid;
    border-radius:8px;
}
.main {
    background-color: white;
    border-radius:8px;
}
.label{
    height: 35px;
    line-height: 35px;
    margin-left: 20px;
}
.course_item {
    width: 220px;
    height: 316px;
    margin: 5px 20px 20px 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}
.course_cover {
    width: 218px;
    height: 180px;
}
.card_width {
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px
}