<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gdpi.course.dao.EssayQueDao">
    <insert id="saveQuestion" parameterType="essayQuestion">
        INSERT INTO `essay_question`(cid, content, grade)
        VALUES(#{cid}, #{content}, #{grade})
    </insert>

    <select id="findByGradeLessThan" parameterType="int" resultType="essayQuestion">
        SELECT * FROM essay_question WHERE grade &lt;= #{grade} AND cid = #{cid}
    </select>
</mapper>