<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gdpi.course.dao.ExamDao">

    <resultMap id="single1" type="singleQuestion">
        <id property="id" column="id"/>
        <result property="cid" column="cid"/>
        <result property="content" column="content"/>
        <result property="choise1" column="choise_1"/>
        <result property="choise2" column="choise_2"/>
        <result property="choise3" column="choise_3"/>
        <result property="choise4" column="choise_4"/>
        <result property="choise1" column="choise_1"/>
        <result property="answer" column="answer"/>
        <result property="grade" column="grade"/>
        <result property="time" column="time"/>
        <result property="userAnswer" column="a"/>
    </resultMap>

    <resultMap id="gap1" type="gapFilling">
        <id property="id" column="id"/>
        <result property="cid" column="cid"/>
        <result property="content" column="content"/>
        <result property="answer" column="answer"/>
        <result property="grade" column="grade"/>
        <result property="time" column="time"/>
        <result property="userAnswer" column="a"/>
    </resultMap>

    <resultMap id="essay1" type="essayQuestion">
        <id property="id" column="id"/>
        <result property="cid" column="cid"/>
        <result property="content" column="content"/>
        <result property="grade" column="grade"/>
        <result property="time" column="time"/>
        <result property="userAnswer" column="a"/>
    </resultMap>

    <resultMap id="paper" type="examPaper">
        <id property="id" column="id"/>
        <result property="sid" column="sid"/>
        <result property="mid" column="mid"/>
        <result property="grade" column="grade"/>
        <result property="status" column="status"/>
        <result property="time" column="time"/>
        <collection property="singleQuestions" column="id" ofType="singleQuestion" select="org.gdpi.course.dao.ExamDao.findAllSingleByEid"/>
        <collection property="gapFillings" column="id" ofType="gapFilling" select="org.gdpi.course.dao.ExamDao.findAllGapByEid"/>
        <collection property="essayQuestions" column="id" select="org.gdpi.course.dao.ExamDao.findAllEssayByEid" ofType="singleQuestion"/>
    </resultMap>

    <insert id="createPaperModel" parameterType="examPaperModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO exam_paper_model(title, tid, cid) VALUES(#{title}, #{tid}, #{cid})
    </insert>

    <insert id="createPaper">
        INSERT INTO exam_paper(sid, mid) VALUES(#{sid}, #{mid})
    </insert>

    <select id="findByMid" parameterType="int" resultType="int">
        SELECT id FROM exam_paper WHERE mid = #{mid}
    </select>
<!--插入题目到试卷-->
    <insert id="insertSingleQue">
        INSERT INTO exam_que_single(eid, single_id) VALUES(#{paperId}, #{qId})
    </insert>

    <insert id="insertGapQue">
        INSERT INTO exam_que_gap(eid, gap_id) VALUES(#{paperId}, #{qId})
    </insert>

    <insert id="insertEssayQue">
        INSERT INTO exam_que_essay(eid, essay_id) VALUES(#{paperId}, #{qId})
    </insert>

    <select id="findByCId" parameterType="int" resultType="examPaperModel">
        SELECT * FROM exam_paper_model WHERE cid = #{cid}
    </select>
<!--查找试卷数量-->
    <select id="findByMIdCount" parameterType="int" resultType="int">
        SELECT count(*) FROM exam_paper WHERE mid = #{mid}
    </select>

    <select id="findCommitNum" parameterType="int" resultType="int">
        SELECT count(*) FROM exam_paper WHERE status = 1 AND mid = #{mid}
    </select>

    <update id="updateHideById">
        UPDATE exam_paper_model SET hide = #{hide} WHERE id = #{id}
    </update>


    <update id="updateEnableById">
        UPDATE exam_paper_model SET enable = #{enable} WHERE id = #{id}
    </update>

    <delete id="deleteModelPaper">
        DELETE FROM exam_paper_model WHERE id = #{id} AND cid = #{cid}
    </delete>

    <select id="findByCidForStu" parameterType="int" resultType="examPaperModel">
        SELECT * FROM exam_paper_model WHERE cid = #{cid} AND hide = 0
    </select>

    <select id="findPaperByMidSid" resultMap="paper">
        SELECT * FROM exam_paper WHERE mid = #{mid} AND sid = #{sid}
    </select>

    <select id="findAllSingleByEid" parameterType="int" resultMap="single1">
        SELECT s.*,s2.answer a FROM single_question s,exam_que_single s2 WHERE s2.eid = #{eid} AND s2.single_id = s.id;
    </select>

    <select id="findAllGapByEid" parameterType="int" resultMap="gap1">
        SELECT s.*,s2.answer a FROM gap_filling s,exam_que_gap s2 where s2.eid = #{eid} and s2.gap_id = s.id;
    </select>

    <select id="findAllEssayByEid" parameterType="int" resultMap="essay1">
        SELECT s.*,s2.answer a FROM essay_question s,exam_que_essay s2 where s2.eid = #{eid} and s2.essay_id = s.id;
    </select>

    <select id="findPaperModelById" resultType="examPaperModel">
        SELECT * FROM exam_paper_model WHERE id = #{id} AND enable = #{enable} AND hide = #{hide}
    </select>

    <select id="updateSingle">
        UPDATE exam_que_single set answer = #{answer} WHERE eid = #{pid} AND single_id = #{qid}
    </select>
    <select id="updateGap">
        UPDATE exam_que_gap set answer = #{answer} WHERE eid = #{pid} AND gap_id = #{qid}
    </select>

    <select id="updateEssay">
        UPDATE exam_que_essay set answer = #{answer} WHERE eid = #{pid} AND essay_id = #{qid}
    </select>


</mapper>