<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gdpi.course.dao.GapFillingDao">
    <insert id="saveQuestion" parameterType="gapFilling">
        INSERT INTO `gap_filling`(cid, content, answer, grade)
        VALUES(#{cid}, #{content}, #{answer}, #{grade})
    </insert>

    <select id="findByGradeLessThan" parameterType="int" resultType="gapFilling">
        SELECT * FROM gap_filling WHERE grade &lt;= #{grade} AND cid = #{cid}
    </select>
</mapper>