<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gdpi.course.dao.ResourcesDao">
    <insert id="saveTeacherFile" parameterType="teacherResources">
        INSERT INTO teacher_resources(cid, tid, title, path, `size`) VALUES(#{cid}, #{tid}, #{title}, #{path}, #{size})
    </insert>

    <select id="findTeacherAll" resultType="teacherResources" parameterType="int">
        SELECT * FROM teacher_resources WHERE cid = #{cid} ORDER BY `time` DESC
    </select>

    <delete id="deleteTeaResources">
        DELETE FROM teacher_resources WHERE id = #{id} AND cid = #{cid}
    </delete>

    <select id="findTeaById" parameterType="int" resultType="teacherResources">
        SELECT * FROM teacher_resources WHERE id = #{id}
    </select>
</mapper>